.descripcion{
     border-radius: 15px 15px;
    border: rgb(255, 0, 0) 5px solid;
    padding: 10px;
    color: black;           
    background-color: white;
}
.formulario {
    background: white;
    color: black;
    border: 3px solid red;
    border-radius: 20px;
    padding: 25px;
    max-width: 400px;
    margin: 30px auto;
    box-shadow: 0 0 20px #0006;
}
.formulario input,
.formulario textarea /*Tuve que pedir ayuda, aleluya que funciona*/ {
    width: 100%;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
}
.formulario button {
    background: red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}
.form{

    
    float: left;
}